
Core.Controller/.vs
Core.Controller/Core.Controller/bin/Debug
Core.Controller/Core.Controller/obj
Core.Controller/Core.Controller/obj/Debug

Core.Dal/.vs
Core.Dal/Core.Dal/bin/Debug
Core.Dal/Core.Dal/bin/obj
Core.Dal/Core.Dal/bin/obj/Debug

Core.Interface/.vs
Core.Interface/Core.Interface/bin/Debug
Core.Interface/Core.Interface/obj
Core.Interface/Core.Interface/obj/Debug

Core.Interface.Dal/.vs
Core.Interface.Dal/Core.Interface.Dal/bin/Debug
Core.Interface.Dal/Core.Interface.Dal/obj
Core.Interface.Dal/Core.Interface.Dal/obj/Debug

Core.Model/.vs
Core.Model/Core.Model/bin/Debug
Core.Model/Core.Model/obj
Core.Model/Core.Model/obj/Debug