
Core.Controller/.vs
Core.Controller/Core.Controller/bin
Core.Controller/Core.Controller/bin/Debug
Core.Controller/Core.Controller/obj
Core.Controller/Core.Controller/obj/Debug

Core.Dal/.vs
Core.Dal/Core.Dal/bin
Core.Dal/Core.Dal/bin/Debug
Core.Dal/Core.Dal/bin/obj
Core.Dal/Core.Dal/bin/obj/Debug

Core.Interface.Model/.vs
Core.Interface.Model/Core.Interface.Model/bin
Core.Interface.Model/Core.Interface.Model/bin/Debug
Core.Interface.Model/Core.Interface.Model/obj
Core.Interface.Model/Core.Interface.Model/obj/Debug

Core.Interface.Dal/.vs
Core.Interface.Dal/Core.Interface.Dal/bin
Core.Interface.Dal/Core.Interface.Dal/bin/Debug
Core.Interface.Dal/Core.Interface.Dal/obj
Core.Interface.Dal/Core.Interface.Dal/obj/Debug

Core.Model/.vs
Core.Model/Core.Model/bin
Core.Model/Core.Model/bin/Debug
Core.Model/Core.Model/obj
Core.Model/Core.Model/obj/Debug

Core.WebAPI/.vs
Core.WebAPI/Core.WebAPI/bin
Core.WebAPI/Core.WebAPI/bin/Debug
Core.WebAPI/Core.WebAPI/obj
Core.WebAPI/Core.WebAPI/obj/Debug