@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<div class="row">
    <div class="col-md-12">
        <h1>Lorem ipsum dolor sit amet</h1>
        <p>Consectetur adipiscing elit. Donec porta mauris at eros vulputate, vestibulum gravida leo faucibus. Sed placerat varius augue. Sed vel arcu vel nibh condimentum maximus quis vitae quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi nunc est, consectetur at aliquet a, convallis nec risus. Praesent ullamcorper mauris in malesuada tempor. In lobortis ex et arcu pretium, non pharetra lacus gravida. Proin ac hendrerit risus.</p>
    </div>
    <div class="col-md-8">
        Sed eu congue sem. Ut est nunc, interdum nec feugiat ac, sodales non metus. Vestibulum tempus magna eu ipsum dignissim molestie. Aenean ipsum dolor, tincidunt non eros vitae, fermentum tristique mauris. Sed euismod ornare augue, ac tempor urna gravida eget. Vestibulum in nisi tincidunt, dignissim lacus vel, pretium lectus. Nulla dui elit, tristique nec tempor ut, suscipit id risus. Mauris ut vulputate justo. Maecenas non mi non sem sodales commodo et ac ligula. Mauris ut consequat velit. Nunc sed ligula commodo, tempus risus sed, eleifend augue.
    </div>
    <div class="col-md-4">
        Aliquam sit amet leo tincidunt, bibendum neque et, gravida dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In molestie condimentum purus, sit amet volutpat nisl consectetur a.
    </div>
</div>

<div class="row justify-content-center">
    <button type="button" class="btn btn-primary">
        <i class="fas fa-utensils" style="margin-right: 2px; text-shadow: -1.6px 1.6px 0px #00000033;"></i>
        Faça um pedido!
    </button>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Mais Pedidos</h2>
        <ul>
            <li>Ut tristique arcu</a></li>
            <li>Eu commodo eros</a></li>
            <li>Aliquam eu nisl erat</a></li>
            <li>Maecenas eget diam nec purus placerat scelerisque</a></li>
            <li>Maecenas elementum mi eros</li>
        </ul>
    </div>
</div>
