@page
@model ProductsModel
@{
    ViewData["Title"] = "Produtos";
}

<div class="row">
    <div class="row">
        <div class="card" style="width:250px">
            
            <!-- Product List -->
            <img class="card-img-top" src="~/images/sandwich.png" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">Nome do Prato</h4>
                <p class="card-text">Aenean blandit felis vitae nisi sollicitudin, ut luctus elit tempor. In aliquam libero in ante aliquam, sed imperdiet ex pretium. Donec mauris lectus, efficitur a egestas nec, suscipit mollis dui.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-outline-primary stretched-link">
                        <span class="small">R$</span>
                        <b>29,99</b>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>